<div class="cover">
    <div class="cover-child">
        <div class="container slide-animation" data-slide="left">
            <div class="box box-1"></div>
            <div class="box box-2"></div>
        </div>

        <div class="container slide-animation" data-slide="right">
            <div class="box box-2"></div>
            <div class="box box-1"></div>
        </div>
        <div class="container slide-animation" data-slide="left">
            <div class="box box-1"></div>
            <div class="box box-2"></div>
        </div>

        <div class="container slide-animation" data-slide="right">
            <div class="box box-2"></div>
            <div class="box box-1"></div>
        </div>
        <div class="container slide-animation" data-slide="left">
            <div class="box box-1"></div>
            <div class="box box-2"></div>
        </div>

        <div class="container slide-animation" data-slide="left">
            <div class="box box-2"></div>
            <div class="box box-1"></div>
        </div>
        <div class="container slide-animation" data-slide="right">
            <div class="box box-1"></div>
            <div class="box box-2"></div>
        </div>

        <div class="container slide-animation" data-slide="bottom">
            <div class="box box-2"></div>
            <div class="box box-1"></div>
        </div>
    </div>
</div>