<div class="main">
    <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="nav" [ngClass]="{ 'show-menu': menuOpen }">

        <p routerLink="/home" (click)="closeDropdown()">
            Counter:{{count$ | async}}
        </p>
        <p routerLink="/products" (click)="closeDropdown()">Products</p>

        <p routerLink="/animations" (click)="closeDropdown()">Animations</p>

        <p routerLink="/cart" (click)="closeDropdown()">Cart: {{(products$ | async)?.length}}</p>

        <p routerLink="/add-to-list" (click)="closeDropdown()">Add to list</p>

        <p routerLink="/multi-step-form" (click)="closeDropdown()">Multi step form</p>

        <button (click)="toggleTheme()">Toggle Theme</button>
    </div>
</div>