<div class="main container-fluid">
    <div class="custom-container container-fluid">
        <h2 class="text-center">Add to List</h2>
        <form [formGroup]="myForm">
            <div class="form-cover container-fluid">
                <div class="form-div container-fluid">
                    <input type="text" placeholder="Type here:" formControlName="input">
                    <button (click)="handleAdd()">Add</button>
                </div>

                <div class="list-div">
                    @for (item of listArray; track $index) {
                        @if (listArray.length != 0) {
                            <div class="list-item">
                                <ul>
                                    <li>{{item}}</li>
                                </ul>
        
                                
                                <button>X</button>
                                
                            </div>
                        }
                    }
                    @if(listArray.length === 0){
                        <h4 class="text-center">
                            No items added to the list yet.
                        </h4>
                    }

                </div>
            </div>

        </form>
    </div>
</div>