<div class="container-fluid main">
    <div class="custom-container">

        <h5 class="mb-5 text-center">Hi here is an example of a multi-step form with validation.</h5>
        <div class="form-div" @listAnimation>
            <form [formGroup]="myForm">
                @if (!showThanks) {

                    <div class="steps-container">
                        <div [ngClass]="{'valid-step': step > 1, 'active-step': step === 1}" class="step d-flex justify-content-center align-items-center">1</div>
                        <div [ngClass]="{'valid-step': step > 2, 'active-step': step === 2}" class="step d-flex justify-content-center align-items-center">2</div>
                        <div [ngClass]="{'valid-step': myForm.get('dateTimeInfo')?.valid && step > 2, 'active-step': step === 3 && myForm.get('dateTimeInfo')?.invalid}" class="step d-flex justify-content-center align-items-center">3</div>
    
                    </div>
                }
                <div class="form-content">
                    @if(!showThanks){

                    <h4 class="text-center">Enter values below:</h4>

                    @if (step === 1) {
                    <div formGroupName="personalInfo">
                        <div class="row g-2">
                            <div class="col-12 col-sm-6">
                                <label for="name">Name</label>
                                <input type="text" [ngClass]="{'valid-input': myForm.get('personalInfo.name')?.valid}"
                                    class="input-style" formControlName="name" id="name">
                                @if (myForm.get('personalInfo.name')?.touched &&
                                myForm.get('personalInfo.name')?.invalid) {
                                <small>This field is required</small>
                                }
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="surname">Surname</label>
                                <input type="text"
                                    [ngClass]="{'valid-input': myForm.get('personalInfo.surname')?.valid}"
                                    class="input-style" formControlName="surname" id="surname">
                                @if (myForm.get('personalInfo.surname')?.touched &&
                                myForm.get('personalInfo.surname')?.invalid) {
                                <small>This field is required</small>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="email">Email</label>
                                <input type="text" [ngClass]="{'valid-input': myForm.get('personalInfo.email')?.valid}"
                                    class="input-style" formControlName="email" id="email">
                                @if (myForm.get('personalInfo.email')?.touched &&
                                myForm.get('personalInfo.email')?.invalid) {
                                <small>This field is required</small>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="phone">Phone</label>
                                <input type="number"
                                    [ngClass]="{'valid-input': myForm.get('personalInfo.phone')?.valid}"
                                    class="input-style" formControlName="phone" id="phone">
                                @if (myForm.get('personalInfo.phone')?.touched &&
                                myForm.get('personalInfo.phone')?.invalid) {
                                <small>This field is required</small>
                                }

                            </div>
                        </div>
                    </div>

                    }
                    @if (step === 2) {
                    <div formGroupName="addressInfo">

                        <div class="row">
                            <div class="col-12">
                                <label for="country">Country</label>
                                <input type="text" [ngClass]="{'valid-input': myForm.get('addressInfo.country')?.valid}"
                                    class="input-style" formControlName="country" id="country">
                                @if (myForm.get('addressInfo.country')?.touched &&
                                myForm.get('addressInfo.country')?.invalid) {
                                <small>This field is required</small>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="city">City</label>
                                <input type="text" [ngClass]="{'valid-input': myForm.get('addressInfo.city')?.valid}"
                                    class="input-style" formControlName="city" id="city">
                                @if (myForm.get('addressInfo.city')?.touched &&
                                myForm.get('addressInfo.city')?.invalid) {
                                <small>This field is required</small>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="street">Street</label>
                                <input type="text" [ngClass]="{'valid-input': myForm.get('addressInfo.street')?.valid}"
                                    class="input-style" formControlName="street" id="street">
                                @if (myForm.get('addressInfo.street')?.touched &&
                                myForm.get('addressInfo.street')?.invalid) {
                                <small>This field is required</small>
                                }
                            </div>
                        </div>
                    </div>
                    }
                    @if (step === 3) {
                    <div formGroupName="dateTimeInfo">

                        <div class="row g-2">
                            <div class="col-12 col-sm-6">
                                <label for="date">Date</label>
                                <p-calendar id="date" [readonlyInput]="true"
                                    [ngClass]="{'valid-calendar': myForm.get('dateTimeInfo.date')?.valid}"
                                    class="custom-calendar" formControlName="date" />
                                @if (myForm.get('dateTimeInfo.date')?.touched &&
                                myForm.get('dateTimeInfo.date')?.invalid) {
                                <small>This field is required</small>
                                }
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="time">Time</label>
                                <p-calendar [timeOnly]="true" id="time" [readonlyInput]="true"
                                    [ngClass]="{'valid-calendar': myForm.get('dateTimeInfo.time')?.valid}"
                                    formControlName="time" class="custom-calendar" />
                                @if (myForm.get('dateTimeInfo.time')?.touched &&
                                myForm.get('dateTimeInfo.time')?.invalid) {
                                <small>This field is required</small>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-between align-items-center">
                        <label class="fw-bold">Add Work Experience:</label>
                        <button class="addButton" (click)="addExperience()">Add +</button>
                    </div>
                    
                    <div formArrayName="experience">
                        <div *ngFor="let group of experienceGroup.controls; let i = index">
                            <div [formGroupName]="i">
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <p class="fw-bold mb-0">{{i + 1 + "."}}</p>
                                    @if (i !== 0 ) {
                                        <button (click)="removeExperience(i)" class="removeButton ">X</button>
                                    }
                                </div>
                                <div class="row" >
                                    <div class="col-12">
                                        <label for="expTitle">Title/Position</label>
                                        <input type="text" class="input-style" 
                                        id="expTitle" 
                                        formControlName="title" 
                                        [ngClass]="{'valid-input': group.get('title')?.valid}" >
                                        @if (group.get('title')?.touched &&
                                        group.get('title')?.invalid) {
                                        <small>This field is required</small>
                                        }
                                    </div>
                                    
                                </div>
                                <div class="row g-2">
                                    <div class="col-12 col-sm-6">
                                        <label for="dateFrom">Date from</label>
                                        <p-calendar 
                                            formControlName="dateFrom" 
                                            view="month" 
                                            dateFormat="mm/yy" 
                                            [readonlyInput]="true"
                                            class="custom-calendar"
                                            id="dateFrom" 
                                            [ngClass]="{'valid-calendar': group.get('dateFrom')?.valid}"
                                        />
                                        @if (group.get('dateFrom')?.touched &&
                                        group.get('dateFrom')?.invalid) {
                                        <small>This field is required</small>
                                        }
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="dateTo">Date to</label>
                                        <p-calendar 
                                            formControlName="dateTo" 
                                            view="month" 
                                            dateFormat="mm/yy" 
                                            [readonlyInput]="true"
                                            class="custom-calendar"
                                            id="dateTo" 
                                            [ngClass]="{'valid-calendar': group.get('dateTo')?.valid}"

                                        />
                                        @if (group.get('dateTo')?.touched &&
                                        group.get('dateTo')?.invalid) {
                                        <small>This field is required</small>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    }

                    <div class="button-container">
                        @if (step !== 1) {
                        <button class="back-button" (click)="onBack()">
                            Back
                        </button>
                        }
                        <button class="next-button" (click)="onNext()">
                            @if(step !== 3){
                            Next
                            }@else {
                            Submit
                            }
                        </button>
                    </div>
                    }
                    @if (showThanks) {
                    <div class="thanks-div d-flex flex-column align-items-center py-5">
                        <h3>Thank You!</h3>
                        <p>Form has been submitted.</p>
                    </div>
                    }

                </div>
            </form>
        </div>
    </div>
</div>